<!DOCTYPE html>
<html>

<head>
    <title>ETYM</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                    <li>
                        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    </li>
                </ul>
                <ul class="left">
                        <li>
                            <a href="/words/show">Your List</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </div>
    <h1><%= title %></h1>

    <% words.forEach(function(w) { %>
        <h6><%= w.words %></h6>
    <% }); %>

    <form id="index-form" action="/words/show" method="POST">
        <input type="text" name="userMeaning"><label>What does this word mean to you?</label>
        <p>
            <label>
                <input class="with-gap" type="radio" name="posOrNegAssoc" checked>
                <span>Positive</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" type="radio" name="posOrNegAssoc">
                <span>Negative</span>
            </label>
        </p>

        <div>
            <label>What month of the year is it?</label>
            <select name="month">
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
        </div>
        
        <input type="submit" value="Submit">
        
    </form>


    <p>Click 'submit' to see the word's etymology and save it to your word list.</p>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
     $(document).ready(function(){
       $('select').formSelect();
     });
    </script>
     </body>
    </html>